.form_todos{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #42a0b5;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 2px #42a0b5;
}

.action_todo{
    display: flex;
    justify-content: space-between;
}

#load_todos tr{
    vertical-align: baseline;
}

#load_todos .active_todo{
    color: #00eb00;
    text-decoration: line-through;
}

a:hover{
    color: #00c200 !important;
}

.messages-container .text-success{
    color: green !important;
    background-color: rgb(63, 223, 63);
}

.messages-container .text-danger{
    color: rgb(172, 0, 0) !important;
    background-color: rgb(216, 110, 110);
}

.alert{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.btn-login{
    background: #60afc1;
    padding: 5px 20px;
}

.btn-login:hover{
    background: #7fb0bb;
}